body {
  margin: 0;
}

html, div, span, h1, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1, h2, h3, span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  font-family: Arial, 'Microsoft JhengHei', Helvetica, sans-serif;
}

.header {
  position: absolute;
  width: 100%;
  height: 56px;
  background-color: rgba(0, 0, 0, 0.8);
}

.header > .info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
}

.header > .info > * {
  color: white;
}

.header > .info > .logoName {
  font-size: 18.26px;
  padding-left: 10px;
  cursor: default;
}

.header > .info > .hambugerMenu {
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

@media screen and (min-width: 992px) {
  .header > .info > .hambugerMenu {
    display: none;
  }
}

.header > .info > .hambugerMenu > * {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 5px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.header > .info > .hambugerMenu > span:nth-child(1) {
  top: 2px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.header > .info > .hambugerMenu > span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.header > .info > .hambugerMenu > span:nth-child(3) {
  top: 18px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.header > .info > .hambugerMenu.close > span:nth-child(1) {
  top: 1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.header > .info > .hambugerMenu.close > span:nth-child(2) {
  opacity: 0;
}

.header > .info > .hambugerMenu.close > span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.header > .info > .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  width: auto;
  list-style: none;
}

@media screen and (max-width: 991.98px) {
  .header > .info > .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    position: absolute;
    top: 56px;
    right: 0;
    width: 40%;
    height: auto;
    max-height: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    -webkit-transition: max-height .3s ease;
    transition: max-height .3s ease;
  }
  .header > .info > .menu.open {
    max-height: 500px;
  }
}

.header > .info > .menu > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  letter-spacing: 3px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  padding: 8px 10px;
  margin: 0 5px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 991.98px) {
  .header > .info > .menu > * {
    width: 100%;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin: 0;
    border-bottom: 1px solid white;
  }
}

.header > .info > .menu > li:hover {
  background-color: white;
  color: black;
}

.header > .info > .menu > li > a {
  color: #fff;
}

.header > .info > .menu.openMeun {
  display: block;
  max-height: 500px;
  -webkit-transition: max-height .5s ease;
  transition: max-height .5s ease;
}

.banner {
  width: 100%;
  background-color: black;
}

.banner > .bannerBackground {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1024px;
  height: 100%;
  min-height: 420px;
  background-image: url(../images/header_desktop.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (max-width: 767.98px) {
  .banner > .bannerBackground {
    background-image: url(../images/header_mobile.png);
  }
}

.banner > .bannerBackground > .slogan {
  width: 460px;
  height: 152px;
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  text-align: center;
  padding: 20px 0;
}

@media screen and (max-width: 767.98px) {
  .banner > .bannerBackground > .slogan {
    width: 300px;
    height: 194px;
  }
}

.banner > .bannerBackground > .slogan > h2 {
  font-size: 36px;
  margin: 16px 0;
}

@media screen and (max-width: 767.98px) {
  .banner > .bannerBackground > .slogan > h2 > .wrap {
    display: block;
    margin-top: 10px;
  }
}

.banner > .bannerBackground > .slogan > p {
  line-height: 25px;
  margin-top: -8px;
}

.footer {
  width: 100%;
  background-color: #EFE9E7;
}

.footer > .footerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 96%;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 767.98px) {
  .footer > .footerInfo {
    display: block;
  }
}

.footer > .footerInfo > * {
  color: #3D1101;
}

.footer > .footerInfo > * .footerTitle {
  font: inherit;
  font-size: 24px;
  margin-bottom: 16px;
}

.footer > .footerInfo > .about {
  width: calc( 100% / 3);
}

@media screen and (max-width: 767.98px) {
  .footer > .footerInfo > .about {
    width: 100%;
    padding-top: 50px;
  }
}

.footer > .footerInfo > .about > * {
  margin: 0;
}

.footer > .footerInfo > .about > p {
  margin-top: 14px;
}

.footer > .footerInfo > .connection {
  width: calc( 100% / 3);
}

@media screen and (max-width: 767.98px) {
  .footer > .footerInfo > .connection {
    width: 100%;
    margin-top: 30px;
  }
}

.footer > .footerInfo > .connection > * {
  margin: 0;
}

.footer > .footerInfo > .connection > ul {
  list-style: circle inside;
  list-style-type: disc;
  margin-top: 14px;
}

.footer > .footerInfo > .social {
  font-size: 36px;
  text-align: right;
}

.footer > .footerInfo > .social > h2 {
  font-size: 49px;
  margin: 22px 0;
}

.footer > .footerInfo > .social .googleplus {
  color: #DB4437;
}

.footer > .footerInfo > .social .twitter {
  color: #41ABE1;
}

.footer > .footerInfo > .social .facebook {
  color: #3A5795;
}

.container > .orderBlock {
  width: 100%;
  background-color: #EFE9E7;
}

.container > .orderBlock > .orderInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 767.98px) {
  .container > .orderBlock > .orderInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container > .orderBlock > .orderInfo > .orderMenu {
  width: 20%;
  color: #3d1101;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 5% 0;
}

@media screen and (max-width: 767.98px) {
  .container > .orderBlock > .orderInfo > .orderMenu {
    width: 96%;
  }
}

.container > .orderBlock > .orderInfo > .orderMenu > h3 {
  font-size: 20px;
  margin-bottom: 10px;
  letter-spacing: 3px;
}

.container > .orderBlock > .orderInfo > .orderMenu > ul {
  list-style: none;
}

.container > .orderBlock > .orderInfo > .orderMenu > ul > li > a {
  display: block;
  color: #3d1101;
  line-height: 32px;
  text-decoration: none;
  border-bottom: 1px solid #3d1101;
  padding: 5px 10px;
}

.container > .orderBlock > .orderInfo > .orderList {
  width: 75%;
  margin: 0 auto;
}

@media screen and (max-width: 767.98px) {
  .container > .orderBlock > .orderInfo > .orderList {
    width: 96%;
  }
}

.container > .orderBlock > .orderInfo > .orderList > .seach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

@media screen and (max-width: 767.98px) {
  .container > .orderBlock > .orderInfo > .orderList > .seach {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.container > .orderBlock > .orderInfo > .orderList > .seach > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  margin-bottom: 0;
}

@media screen and (max-width: 767.98px) {
  .container > .orderBlock > .orderInfo > .orderList > .seach > form {
    width: 100%;
  }
}

.container > .orderBlock > .orderInfo > .orderList > .seach > form > input {
  display: inline;
  width: calc(100% - 36px);
  min-height: 32px;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 3px #ddd;
          box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  padding: 0.5em 0.6em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
}

.container > .orderBlock > .orderInfo > .orderList > .seach > form > button {
  width: 36px;
  height: 32px;
  background-color: #3d1101;
  color: white;
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  padding-bottom: 2px;
  cursor: pointer;
  border: none transparent;
  border-radius: 2px;
}

.container > .orderBlock > .orderInfo > .orderList > .seach > .settleAccounts {
  width: 20%;
  text-align: right;
  margin: 0;
}

@media screen and (max-width: 767.98px) {
  .container > .orderBlock > .orderInfo > .orderList > .seach > .settleAccounts {
    width: 100%;
  }
}

.container > .orderBlock > .orderInfo > .orderList > .seach > .settleAccounts > :nth-child(1) {
  padding-right: 10px;
  border-right: 1px solid;
}

.container > .orderBlock > .orderInfo > .orderList > .seach > .settleAccounts > :nth-child(2) {
  padding-left: 10px;
}

.container > .orderBlock > .orderInfo > .orderList > .seach > .settleAccounts > a {
  color: #3d1101;
  font-size: 24px;
  text-decoration: none;
}

.container > .orderBlock > .orderInfo > .orderList > .foodList > ul {
  list-style: none;
  margin-top: 33px;
}

.container > .orderBlock > .orderInfo > .orderList > .foodList > ul > li {
  float: left;
  width: 31.33333%;
  padding-bottom: 10px;
  margin: 0 1% 10px 1%;
  -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767.98px) {
  .container > .orderBlock > .orderInfo > .orderList > .foodList > ul > li {
    width: 100%;
  }
}

.container > .orderBlock > .orderInfo > .orderList > .foodList > ul > li > .viewImg {
  min-height: 120px;
  background-position: 80% 80%;
  background-size: cover;
  background-repeat: no-repeat;
}

.container > .orderBlock > .orderInfo > .orderList > .foodList > ul > li > .viewImg.img1 {
  background-image: url(../images/product_1.png);
}

.container > .orderBlock > .orderInfo > .orderList > .foodList > ul > li > .viewImg.img2 {
  background-image: url(../images/product_2.png);
}

.container > .orderBlock > .orderInfo > .orderList > .foodList > ul > li > .viewImg.img3 {
  background-image: url(../images/product_3.png);
}

.container > .orderBlock > .orderInfo > .orderList > .foodList > ul > li > .viewImg.img4 {
  background-image: url(../images/product_4.png);
}

.container > .orderBlock > .orderInfo > .orderList > .foodList > ul > li > .content {
  color: #3d1101;
  text-align: center;
  margin-top: 11px;
}

.container > .orderBlock > .orderInfo > .orderList > .foodList > ul > li > .content > h3 {
  font-size: 20px;
}

.container > .orderBlock > .orderInfo > .orderList > .foodList > ul > li > .content > p {
  font-size: 12px;
  margin: 0;
}

.container > .orderBlock > .orderInfo > .orderList > .foodList > ul > li > .content > hr {
  width: 20%;
}

.container > .orderBlock > .orderInfo > .orderList > .foodList > ul > li > .listBtn {
  width: 98%;
  text-align: center;
  margin-top: 13px;
}

.container > .orderBlock > .orderInfo > .orderList > .foodList > ul > li > .listBtn > button {
  display: inline-block;
  width: 100%;
  background-color: transparent;
  color: #FF5E45;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  border-radius: .25rem;
  border: 1px solid #FF5E45;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: .5rem .75rem;
  cursor: pointer;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.container > .orderBlock > .orderInfo > .orderList > .foodList > ul > li > .listBtn > button:hover {
  color: white;
  background-color: #FF5E45;
}
/*# sourceMappingURL=order.css.map */